
@media only screen and (max-width: 414px) {
    nav{
        text-align: center;    
        display: flex;
        flex-direction: column;
     }

    .text-nav{
        margin: 0;
        display: flex;
        text-align: center; 
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-top: 8px;
       
    }


    .proyect1{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    text-align:center;
    font-size:32px;
    padding: 4px;
    margin-top: 8px;

    }
    .general{
        width: 100%;
        flex-wrap: wrap;
        
    }
    .contact{
        display:flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 16px 16px;
        margin: auto;
        margin-top: 48px;
        justify-content: space-between;
        flex-wrap: wrap;
}
.first{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

}
.title{
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    color:#F8D8E3; 
}
.text{ 
    font-size: 16px;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 624px ;
    margin-top: 16px;
    margin-bottom: 32px;
}
.one{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: 2px solid #F8D8E3;
    box-sizing: border-box;
    margin-top: 16px;
    margin-bottom: 32px;
}
.button{
    display: inline-flex;
    padding: 8px;
    height: 16px;
    background-color: transparent;
    border: 2px solid #F8D8E3;
    border-radius: 8px;
    font-size: 14px;
    line-height: 16px;
    justify-content: space-around;
    cursor: pointer;
    margin-top: 16px;
    margin-bottom: 16px;
}
.icons{
    display: flex;
}
.center-one {
    display: flex;
    justify-content: center
    
}
.first{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 12px;
}
.contact{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 0%;
    margin: auto;
    filter: drop-shadow(0px 1px 30px rgba(0, 0, 0, 0.15));
    gap: 16px;
 
}   
.text-introduction{

    font-size: 16px;
    filter: drop-shadow(0px 1px 30px rgba(0, 0, 0, 0.15));
    justify-content: flex-end;
    


}
.icons{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.rs {
display: flex;
flex-direction:row;
justify-content: center;
align-items: center;
gap: 32px;
}
}