body{ 
    font-family: "open sans";
    font-size: 16px;  
    overflow-x: hidden;
}

header {
    font-size: 16px;
    text-align: center;
    font-weight: bold;  
    max-width: 1440px;
    
}
nav{
   text-align: center;    
}
.text-nav{
    margin: 128px;
    color:black;
   text-decoration: underline #F8D8E3;
   cursor:pointer;
   transition: all 0.2s ease-in-out;
   
}

.center-one {
    text-align: center;
}
.one{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: 2px solid #F8D8E3;
    box-sizing: border-box;
    margin-top: 72px;
    margin-bottom: 32px;
   
}

.title{
    font-size: 96px;
    text-align: center;
    font-weight: bold;
    color:#F8D8E3;  
     
}
.center{
    margin-left: auto;
    margin-right: auto;
}

   

.intro{
     width: 300px;   
}
.text{ 
    font-size: 40px;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 624px ;
    margin-top: 16px;
    margin-bottom: 32px;
   
}

.pro{ 
    align-items: center;
    flex-direction: column;
}

h1{
    font-size: 36px;
    padding: 16px; 
    align-content: center;  
}

.proyect1{
    padding: 48px; 
    display: flex;
    width: 100%;
    justify-content: flex-end;
    font-family: "Open Sans"; 
    color: #F8D8E3 ;
    border-color: #F8D8E3 ;
    font-size: 150px;
    filter: drop-shadow(0px 1px 30px rgba(245, 225, 242, 0.15));
    padding: 50px;
    padding-left: 4px;
    margin-top: 64px;
    -webkit-animation: slide-bck-left 0.45s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    animation: slide-bck-left 0.45s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}
h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;

}

/* main{
    padding-left:100px ;
    padding-right: 100px ;
} */


 .text-introduction{
    font-size: 16px;
    filter: drop-shadow(0px 1px 30px rgba(0, 0, 0, 0.15));
    padding: 24px;
    
 }
.contact{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 16px 16px;
    margin: auto;
    max-width: 1000px ;
    margin-top: 48px;
    filter: drop-shadow(0px 1px 30px rgba(0, 0, 0, 0.15));
    justify-content: space-between;
}
 .icons{
     display: flex;
     flex-direction: column;
     align-items:center;
     justify-content: space-between;
 }

.first{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 72px;

}
.general{
    width: 30%;
    -webkit-animation: rotate-top 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: rotate-top 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
.image{
    width: 100%;

}
.image img{ 
    width: 100%;
}
.rs{
    display: flex;
    width: 100%;
    justify-content: center;
}

.button{
    display: inline-flex;
    padding: 8px;
    height: 16px;
    background-color: transparent;
    border: 2px solid #F8D8E3;
    border-radius: 8px;
    font-size: 14px;
    line-height: 16px;
    justify-content: space-around;
    cursor: pointer;
    margin-top: 16px;
}

.button:hover{
    opacity: 0 4;
    background-color:#F8D8E3 ;
    color: black;
    border-color: #F8D8E3
}
/* ----------------------------------------------
 * Generated by Animista on 2022-2-24 16:28:56
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-bck-left
 * ----------------------------------------
 */
 @-webkit-keyframes slide-bck-left {
    0% {
      -webkit-transform: translateZ(0) translateX(0);
              transform: translateZ(0) translateX(0);
    }
    100% {
      -webkit-transform: translateZ(-400px) translateX(-200px);
              transform: translateZ(-400px) translateX(-200px);
    }
  }
  @keyframes slide-bck-left {
    0% {
      -webkit-transform: translateZ(0) translateX(0);
              transform: translateZ(0) translateX(0);
    }
    100% {
      -webkit-transform: translateZ(-400px) translateX(-200px);
              transform: translateZ(-400px) translateX(-200px);
    }
  }

  /* ----------------------------------------------
 * Generated by Animista on 2022-2-25 9:16:53
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-top
 * ----------------------------------------
 */
@-webkit-keyframes rotate-top {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
      -webkit-transform-origin: top;
              transform-origin: top;
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
      -webkit-transform-origin: top;
              transform-origin: top;
    }
  }
  @keyframes rotate-top {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
      -webkit-transform-origin: top;
              transform-origin: top;
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
      -webkit-transform-origin: top;
              transform-origin: top;
    }
  }
  
  
  